<div class="row">

	<!-- Configuration -->
	<div id="configuration" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Configuration</h2>
		<!-- <h3>Input</h3> -->
		<div id="input" class="settings">
			<h4>Take a photo every:</h4>
			
				Minutes:
				<select ng-model="settings.intervalMinutes" ng-options="minute for minute in intervalMinutes"></select>
				Seconds:
				<select ng-model="settings.intervalSeconds" ng-options="second for second in intervalSeconds"></select>
		</div>		

		<!-- <h3>Timer</h3> -->
		<div id="timer" class="settings">

			<h4>Total Photo Session:</h4>
			
				Hours:   
				<select ng-model="settings.durationHours" ng-options="hour for hour in durationHours"></select>
				Minutes:
				<select ng-model="settings.durationMinutes" ng-options="minute for minute in durationMinutes"></select>
				Seconds:
				<select ng-model="settings.durationSeconds" ng-options="second for second in durationSeconds"></select>
			

		</div>

		<!-- <h3>Output</h3> -->
		<div id="output" class="settings">
			<h4>Play the timelapse video at this rate:</h4>
			
				Frames Per Second (FPS):   
				<select ng-model="settings.fps" ng-options="frame for frame in fps"></select>
			
		</div>
		<div id="start-end-row" class="row">
			<div class="col-sm-12">
				<button type="button" id="startButton" class="btn btn-success btn-primary col-sm-6" ng-click='startCamera()'>GO</button>
				<button type="btn" class="btn col-sm-4 col-sm-offset-2" ng-click='stopCamera()'>Stop</button>
			</div>
		</div>
	</div>
	<!-- /Configuration -->
	<pre>{{settings | json}}</pre>

	<!-- Recent Videos -->
	<div id="recent-vid"class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Latest Videos</h2>
		<div class="row">
			<!-- The Most recent Timelapse Video-->
			<div class="col-xs-12 col-sm-12 col-md-12 img-grid" ng-repeat="image in images" ng-if="$index == 0">
				<div ng-if="images" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{image.name | imagePath:image.directory}}" alt="{{image.name}}" ng-if="image.name.indexOf('jpeg') != -1">	
					<video width="100%" height="100%" controls ng-if="image.name.indexOf('jpeg') == -1">
					  <source ng-src="{{image.name | imagePath:image.directory}}" type="video/avi">
					</video>
					<h4>{{image.name}} from {{image.directory}}</h4> 
				</div>
			</div>
			<!-- /The Most recent Timelapse Video -->

			<!-- The next four recent Timelapse Video -->
			<div class="col-xs-6 col-sm-6 col-md-6 img-grid" ng-repeat="image in images" ng-if="$index > 0">
				<div ng-if="images" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{image.name | imagePath:image.directory}}" alt="{{image.name}}" ng-if="image.name.indexOf('jpeg') != -1">	
					<video width="100%" height="100%" controls ng-if="image.name.indexOf('jpeg') == -1">
					  <source ng-src="{{image.name | imagePath:image.directory}}" type="video/avi">
					</video>
					<h4>{{image.name}} from {{image.directory}}</h4> 
				</div>
			</div>
			<!-- /The next four recent Timelapse Video -->
		</div>
		<a href="#/folders"><button id="all-video" type="button" class="btn btn-default col-xs-12 col-sm-12 col-md-12">All Videos<i class="fa fa-chevron-right pull-right"></i></button></a>
	</div>


	<!-- /Recent Videos -->

</div>