<div class="row">

	<!-- Configuration -->
	<div id="configuration" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Configuration</h2>
		<h3>Input</h3>
		<div class="settings">
			<h4>Interval</h4>
			<p>
				Hours:   
				<select ng-model="settings.hours">
					<option value=0>0 </option>
					<option value=1>1 </option>
					<option value=2>2 </option>
					<option value=3>3 </option>
					<option value=1>4 </option>
					<option value=2>5 </option>
					<option value=3>6 </option>
					<option value=1>7 </option>
					<option value=2>8 </option>
					<option value=3>9 </option>
					<option value=1>10 </option>
					<option value=2>11 </option>
					<option value=3>12 </option>
				</select>	
				Minutes:
				<select>
					<option value=0>0 </option>
					<option value=0>5 </option>
					<option value=1>10 </option>
					<option value=2>15 </option>
					<option value=3>20 </option>
					<option value=1>25 </option>
					<option value=2>30 </option>
					<option value=3>35 </option>
					<option value=1>40 </option>
					<option value=2>45 </option>
					<option value=3>50 </option>
					<option value=1>55 </option>
				</select>
				Seconds:
				<select>
					<option value=0>0 </option>
					<option value=1>10 </option>
					<option value=2>20 </option>
					<option value=3>30 </option>
					<option value=1>40 </option>
					<option value=2>50 </option>
				</select>
			</p>
	
		</div>	

		<h3>Output</h3>
		<div class="settings">
			<h4>FPS</h4>
			<p>
				Frame rate:   
				<select>
					<option value=2>10 FPS</option>
					<option value=3>20 FPS</option>
					<option value=1>30 FPS</option>
					<option value=2>40 FPS</option>
					<option value=3>50 FPS</option>
					<option value=1>60 FPS</option>
				</select>	
			</p>
		</div>	

		<h3>Timer</h3>
		<div class="settings">
			<form action="demo_form.asp">
				Start date: <input type="datetime-local" name="starttime">
			</form>

			<br>
			<form action="demo_form.asp">
				End date: <input type="datetime-local" name="endtime">
			</form>
		</div>
		<br>
		<h4>See if fields bind to JSON data using ng-model</h4>
		<pre>{{settings | json}}</pre>
		<div class="row">
			<button type="button" class="btn btn-default col-sm-12" ng-click='tempStartCamera()'>Temp Start</button>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-primary col-8" ng-click='startCamera()'>Start <i class="fa fa-play"></i></button>
				<button type="btn" class="btn btn-warning col-4" ng-click='stopCamera()'>Stop <i class="fa fa-stop"></i></button>
			</div>
		</div>
	</div>
	<!-- /Configuration -->

	<!-- Recent Videos -->
	<div id="recent-vid"class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div class="row">
			<!-- The Most recent Timelapse Video-->
			<div class="col-xs-12 col-sm-12 col-md-12 img-grid" ng-repeat="image in images" ng-if="$index == 0">
				<div ng-if="images" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{image.name | imagePath:image.directory}}" alt="{{image.name}}" ng-if="image.name.indexOf('jpg') != -1">	
					<video width="100%" height="100%" controls ng-if="image.name.indexOf('jpg') == -1">
					  <source ng-src="{{image.name | imagePath:image.directory}}" type="video/mp4">
					</video>
					<h4>{{image.name}}</h4> 
				</div>
			</div>
			<!-- /The Most recent Timelapse Video -->

			<!-- The next four recent Timelapse Video -->
			<div class="col-xs-6 col-sm-6 col-md-6 img-grid" ng-repeat="image in images" ng-if="$index > 0">
				<div ng-if="images" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{image.name | imagePath:image.directory}}" alt="{{image.name}}" ng-if="image.name.indexOf('jpg') != -1">	
					<video width="100%" height="100%" controls ng-if="image.name.indexOf('jpg') == -1">
					  <source ng-src="{{image.name | imagePath:image.directory}}" type="video/mp4">
					</video>
					<h4>{{image.name}}</h4> 
				</div>
			</div>
			<!-- /The next four recent Timelapse Video -->
		</div>
	</div>
	<!-- /Recent Videos -->

</div>