<h2>Dashboard</h2>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<h4>Mode</h4>
		<p>{{setting.mode}}</p>
		<h4>Output</h4>
		<p>{{setting.output}}></p>
		<h4>Encoding</h4>
		<p>{{setting.encoding}}</p>
		<h4>Timelapse</h4>
		<p>{{setting.timelapse}}</p>
		<h4>Timeout</h4>
		<p>{{setting.timeout}}</p>
		<br>
		<button type="btn" class="btn btn-primary" ng-click='startCamera()'>Start</button>
		<button type="btn" class="btn btn-danger" ng-click='stopCamera()'>Stop</button>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div ng-if="images" ng-repeat="image in images">
			<img class="thumbnail" ng-src="{{image}}" alt="{{image}}">	
		</div>
	</div>
</div>