<div class="row">

	<!-- Configuration -->
	<div id="configuration" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Configuration</h2>
		<form  action="">
			<div id="input" class="settings">
				<h4>Take a photo every:</h4>
				Mins: 
				<input type="number" ng-model="settings.intervalMinutes" min="0" max="59">

				Secs:
				<input type="number" ng-model="settings.intervalSeconds" min="0" max="59">

			</div>	

			<div id="timer" class="settings">
				<h4>Total Photo Session:</h4>
				
				Hours:   
				<input type="number" ng-model="settings.durationHours" min="0" max="12">
				Mins:
				<input type="number" ng-model="settings.durationMinutes" min="0" max="59">
				Secs:
				<input type="number" ng-model="settings.durationSeconds" min="0" max="59">
			</div>

			<div id="output" class="settings">
				<h4>Play the timelapse video at this rate:</h4>
				
				Frames Per Second (FPS):   
				<input type="number" ng-model="settings.fps" min="10" max="60">

				<p ng-if="videoLength">Video Length: {{videoLength}}</p>

                <div ng-show="displayIntervalMinutesWarning">* Interval Minutes must be between 0 and 59 minutes</div>
                <div ng-show="displayIntervalSecondsWarning">* Interval Seconds must be between 0 and 59 seconds</div>
                <div ng-show="displayDurationHoursWarning">* Duration Hours must be between 0 and 12 hours</div>
                <div ng-show="displayDurationMinutesWarning">* Duration Minutes must be between 0 and 59 minutes</div>
                <div ng-show="displayDurationSecondsWarning">* Duration Seconds must be between 0 and 59 seconds</div>
                <div ng-show="displayFPSWarning">* FPS must be between 10 and 60</div>
                <div ng-show="displayDurationWarning">* Duration must be greater than interval</div>

			</div>

			<!--
			Total Frames = (total time/ interval)  
			Video Length = (Total Frames / FPS )
			-->
			<div id="start-end-row" class="row">
				<div class="col-xs-12">
					<button type="button" id="startButton" class="btn btn-success btn-primary col-xs-5  col-sm-6" ng-click='startCamera()'>GO</button>
					<button type="btn" class="btn col-xs-3 col-xs-offset-1 col-sm-4 col-sm-offset-1" ng-click='stopCamera()'>Stop</button>
				</div>
			</div>

		</form>


		<!--<div id="input" class="settings">
			<h4>Take a photo every:</h4>
			
				Mins:
				<select ng-model="settings.intervalMinutes" ng-options="minute for minute in intervalMinutes"></select>
				Secs:
				<select ng-model="settings.intervalSeconds" ng-options="second for second in intervalSeconds"></select>
		</div>	-->	

		<!--
		<div id="timer" class="settings">

			<h4>Total Photo Session:</h4>
			
				Hours:   
				<select ng-model="settings.durationHours" ng-options="hour for hour in durationHours"></select>
				Mins:
				<select ng-model="settings.durationMinutes" ng-options="minute for minute in durationMinutes"></select>
				Secs:
				<select ng-model="settings.durationSeconds" ng-options="second for second in durationSeconds"></select>
		</div>
		-->
		<!--
		<div id="output" class="settings">
			<h4>Play the timelapse video at this rate:</h4>
			
				Frames Per Second (FPS):   
				<select ng-model="settings.fps" ng-options="frame for frame in fps"></select>
			
		</div>
		-->
		<!--<div id="start-end-row" class="row">
			<div class="col-xs-12">
				<button type="button" id="startButton" class="btn btn-success btn-primary col-xs-5  col-sm-6" ng-click='startCamera()'>GO</button>
				<button type="btn" class="btn col-xs-3 col-xs-offset-1 col-sm-4 col-sm-offset-1" ng-click='stopCamera()'>Stop</button>
			</div>
		</div>-->
	</div>
	<!-- /Configuration -->

	<!-- Recent Videos -->
	<div id="recent-vid"class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<h2>Latest Videos</h2>
		<div class="row">
			<!-- The Most recent Timelapse Video-->
			<div class="col-xs-12 col-sm-12 col-md-12 img-grid" ng-repeat="file in files | reverse" ng-if="$index == 0">
				<div ng-if="files" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{file | filePath}}" alt="{{file}}" ng-if="file.indexOf('jpeg') != -1"/>
					<a ng-href="{{file | filePath}}" ng-if="file.indexOf('jpeg') == -1"><img ng-src="http://geeknation.com/geek/wp-content/themes/Geek/img/no-video-img.png"></a>
					<!-- <embed ng-src="{{file | filePath}}" ng-if="file.indexOf('jpeg') == -1"/> -->
					<h4><a ng-href="{{file | filePath}}">{{file}}</a></h4> 
				</div>
			</div>
			<!-- /The Most recent Timelapse Video -->

			<!-- The next four recent Timelapse Video -->
			<div class="col-xs-6 col-sm-6 col-md-6 img-grid" ng-repeat="file in files | reverse" ng-if="$index > 0">
				<div ng-if="files" class="text-center">
					<img class="thumbnail img-responsive" ng-src="{{file | filePath}}" alt="{{file}}" ng-if="file.indexOf('jpeg') != -1"/>
					<a ng-href="{{file | filePath}}" ng-if="file.indexOf('jpeg') == -1"><img ng-src="http://geeknation.com/geek/wp-content/themes/Geek/img/no-video-img.png"></a>					
					<!-- <embed ng-src="{{file | filePath}}" ng-if="file.indexOf('jpeg') == -1"/> -->
 					<h4><a ng-href="{{file | filePath:file.adirectory}}">{{file}}</a></h4> 
					<button type="btn" class="btn btn-danger" ng-click='deleteFile(file)'>Delete</button>
				</div>
			</div>
			<!-- /The next four recent Timelapse Video -->
		</div>
		<a href="#/videos"><button id="all-video" type="button" class="btn btn-default col-xs-12 col-sm-12 col-md-12">All Videos<i class="fa fa-chevron-right pull-right"></i></button></a>
	</div>


	<!-- /Recent Videos -->

</div>