<h2>Dashboard</h2>
<h4>Mode</h4>
<p>{{setting.mode}}</p>
<h4>Output</h4>
<p>{{setting.output}}></p>
<h4>Encoding</h4>
<p>{{setting.encoding}}</p>
<h4>Timelapse</h4>
<p>{{setting.timelapse}}</p>
<h4>Timeout</h4>
<p>{{setting.timeout}}</p>

<br>
<button type="btn" class="btn btn-primary" ng-click='startCamera()'>Start</button>
<button type="btn" class="btn btn-danger" ng-click='stopCamera()'>Stop</button>
