<a href="#/dashboard"><button type="btn" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Dashboard</button></a>
<h2>Folders</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 img-grid" ng-repeat="folder in folders">
    	<div ng-if="folders" class="text-center">
			<a href="#/folders/{{folder}}">
				<button type="button" class="btn btn-default btn-lg">
				  {{folder}} <span class="glyphicon glyphicon-folder-open"></span>
				</button>
			</a>
    	</div>
	</div>
</div>