<a href="#/folders"><button type="btn" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Folders</button></a>
<h2>{{folderName}} Gallery</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 img-grid" ng-repeat="file in files | reverse">
		<div ng-if="files" class="text-center">
			<img class="thumbnail img-responsive" ng-src="{{file | filePath:folderName}}" alt="{{file}}" ng-if="file.indexOf('jpeg') != -1">	
			<embed ng-src="{{file | filePath:folderName}}" ng-if="file.indexOf('jpeg') == -1"/>
			<h4><a href="{{file | filePath:folderName}}">{{file}}</a></h4>
		</div>
	</div>
</div>