<a href="#/folders"><button type="btn" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Folders</button></a>
<h2>{{folderName}} Gallery</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 img-grid" ng-repeat="image in images">
		<div ng-if="images" class="text-center">
			<img class="thumbnail img-responsive" ng-src="{{image | imagePath:folderName}}" alt="{{image}}" ng-if="image.indexOf('jpeg') != -1">	
			<embed ng-src="{{image | imagePath:folderName}}" ng-if="image.indexOf('jpeg') == -1"/>
			<h4><a href="{{image | imagePath:folderName}}">{{image}}</a></h4>
		</div>
	</div>
</div>