<h2>Shell Command</h2>

<input type="text" class="form-control" ng-model="shellCommand.text" placeholder="Command">

<br>

<button type="btn" class="btn btn-info" ng-click='setShellCommand()'>Set</button>
<button type="btn" class="btn btn-primary" ng-click='startShellCommand()'>Start</button>
<button type="btn" class="btn btn-success" ng-click='mihirsCommand()'>Mihirs Command</button>



<p><pre>{{shellCommand | json}}</pre></p>